*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$myFontColor: #FFFFFF;
$myFontSize: 17px;
$myFont: 'Montserrat', sans-serif;
$white: #FFFFFF;
$beige: #F0EEE1;
$yellow: #F8DC8A;
$lightgreen: #32A773;
$cyan: #47937C; 
$lightgray: #707070;
$darkgray1: #2F3A3E;
$darkgray2: #333C3E;
$black: #000000;


body {
    color: $myFontColor;
    font-family: $myFont;
    font-size: $myFontSize;
    overflow-x: hidden;
}
li {
    list-style: none;
}

.hero {
    background-image: linear-gradient(rgba(196, 197, 199, 0.096), rgba(142, 143, 145, 0.001)), url(/img/home-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    display: flex;
    padding: 1em 9em;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    .nav-gap {
        margin-left: 4em;
        margin-right: 4em;
    }
  }
  .logo {
      display: flex;
  }
  .logo img {
      height: 40px;
  }
  nav a{
      color: $yellow;
      text-decoration: none;
      &:hover {
        color: $beige;
      }
  }
  .nav-links {
    color: $yellow;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    font-size: 11px;    
    font-weight: 600;
    .active-page {
        color: $white; 
  }
    .break-1{
    color: $white;
    opacity: 0.4;
    .nav-links a:hover {
        color: $beige
    }
}
}
  #city {
    color: $lightgreen;
    position: relative;
    padding-left: 3em;
    font-size: 17px;
    .arrow-down {
        height: 18px;
        width: 14px;
    }
  }
  .ordered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      p {
          padding-bottom: .5em;
      }
      .view {
          font-size: 10px;
          opacity: 0.7;
          .arrow {
              font-size: 13px;
          }
      }
  }
  #zero {
    color: $cyan;
    padding-left: .4em;
}
i {
    padding-left: .3em;
}
.burger {
    display: none;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 4px;
    background-color:whitesmoke;
    margin: 4px;
    border-radius: 4px;
  }
.x {
    display: none;
}
@media screen and (max-width: 1199px){
    .hero {
        padding: 0;
    }
    .burger {
        display: block;
    }
    div.hero-container {
        padding: 0;
    }
    .nav-links {
        position: absolute;
        top: 8vh;
        right: 10vh;
        left: 50vh;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $beige;
        transform: translateY(-150%);
        z-index: 1;
        .x {
            display: block;
            color: $darkgray1;
            font-size: 1.5em;
            position: absolute;
            top: 4vh;
            right: 5vh;
        }
    }
    .nav-links li {
        color: $cyan;
        margin-bottom: 3.5em;
        font-size: 15px;
        text-shadow: 0.1px 0.1px 0.1px 0.1px $darkgray1;
    }
    nav a:hover {
        color: $cyan;
    }
    .nav-links a {
        color: $darkgray1;
    }
    .nav-links .active-page, .ordered{
        color: $cyan;
        .view {
            color: $darkgray1;
            .arrow {
                font-size: 13px;
            }
        }
    }
    .nav-active {
        transform: translateX(0%);
        transition: all 0.4s ease-in-out;
    }
    @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
    }
    .hero-container {
        margin-top: 3em;
    }
    .james {
        transform: translateX(-45px);
    }
    div.james {
        padding: 0;
    }
    .mathilda {
        transform: translateX(45px);
    }
    div.mathilda {
        padding: 0;
    }
    div .hero-h1 {
        padding-top: 0;
        padding-bottom: 2em;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-p {
        padding: 0;
        order: 3;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    div .hero-p {
        line-height: 1.5em;
    }
    .form {
        flex-direction: column;
        align-self: center; 
        div.email {
            padding: 4em 0;
            margin: 1em 0;
            order: 1;
            align-self: flex-start;
        }
        div.call {
            order: 2;
            align-self: flex-start;
        }
    }
    div.about {
        flex-direction: column;
        height: 120vh;
        .about-img, .about-text {
            flex-basis: auto;
        }
    }
}
@media screen and (max-width: 820px) {
    div.hero-p{
        white-space: normal;
    }
    div.about {
        height: 100vh;
        align-items: center;
        justify-content: center;
        padding: 1em 5em;
        .about-img {
            padding-bottom: 0;
        }
        div.about-text{
            align-items: center;
            p {
                text-align: center;
            }
        }
    }
    div.about-btn {
        flex-direction: column;
    }
    div.footer {
        height: 30vh;
        a, p {
            padding-bottom: 1em;
        }
    }
    .left,.right{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        span {
            display: none;
        }
    }
}
@media screen and (max-width: 768px){
    .nav-gap {
        display: none;
    }
    .nav-links {
        position: absolute;
        top: 10vh;
        bottom: 30vh;
        left: 5vh;
        right: 5vh;
        z-index: 1;
    }
    div.hero-container {
        padding-left: 4em;
        padding-right: 4em;
    }
    div.desc {
        display: flex;
        flex-direction: column;
        .item {
            margin: auto;
            height: 20em;
            padding-top: 2em;
        }
        .item-border {
            margin: auto;
            height: 20em;
            padding-top: 2em;
        }
        p {
            padding-bottom: 4em;
            padding-top: 2em;
            font-size: 1.3em;
            line-height: 1.35em;
        }
        img {
            height: 56px;
            width: 53px;
        }
        div.item-border {
            border-left: none;
            border-right: none;
            border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        }
    }
    div.contact {
        padding: 8em;
        justify-content: center;
        align-items: center; 
    }
    .button img {
        display: none;
    }
    div.about {
        height: 100vh;
    }
    div.about-btn {
        flex-direction: column;
    }
}

@media screen and (max-width: 659px){
    nav {
        padding: 1em .5em;
        display: flex;
        justify-content: space-around;
    }
    #city {
        display: flex;
        margin-left: 1em;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .nav-links {
        position: absolute;
        top: 10vh;
        left: 0vh;
        right: 0vh;
        height: 90vh;
        z-index: 1;
    }
    div.hero-h1 h1 {
        font-size: 2em;
        white-space: nowrap;
    }
    div.hero-container {
        padding: 1em;
    }
    div.about {
        height: 130vh;
        justify-content: space-around;
        div.about-img, .about-text {
            flex-basis: auto;
        }
    }
    div.services {
        padding: 1em 2em;
    }
    div.contact {
        padding: 5em;
        .form {
            margin: 0;
        }
    }
    div.email.input, #email, #name, #msg, .msg input {
        margin-bottom: 1em;
        padding: .5em;
        border: none;
        border-bottom: 2px solid $white;
        background-color: $lightgreen;
        width: 15em;
    }

 }
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 5em;
    padding-top: 4em;
    padding-bottom: .5em;
}
.hero-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
    z-index: 0;
    h1 {
        font-size: 2.7em;
        font-weight: 400;
    }
}
.hero-text {
    display: flex;
    justify-content: center;
}
.hero-p p {
    padding-bottom: 1em;
    text-align: center;
}
.james {
    display: inline-block;
    order: 0;
    padding-right: 2.5em;
}
.mathilda {
    display: inline-block;
    order: 2;
    padding-left: 2.5em;
}

.hero-p {
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    line-height: 2em;
    .yellow {
        color: $yellow;
    }
    .reg {
        padding-top: .5em;
        padding-bottom: 1.5em;
    }
    img {
        padding-bottom: 1em;
    }
    button, .button {
        background-color: transparent;
        display: inline-block;
        margin-top: 2em;
        padding: 1em 2em;
        border: 4px solid $yellow;
        border-radius: .7em;
        color: $yellow;
        font-size: 0.76em;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background-color: $yellow;
            color: $darkgray2;
        }
    }
}
.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: $darkgray1;
}
.item {
    display: flex;
    flex-direction: column;
    font-size: 0.76em;
    line-height: 1.47em;
    text-align: center;
    padding: .5em 2em;
    margin: 2em 2em;
    img {
        width: 34px;
        height: 32px;
        align-self: center;
        margin: auto;
        padding: .2em;
    }
    p {
        padding-top: 1em;
    }
}
.item-border {
    display: flex;
    flex-direction: column;
    font-size: 0.76em;
    line-height: 1.47em;
    text-align: center;
    padding: .5em 3em;
    margin: 2em 2em;
    border-left: 1px solid rgba($color: #ffffff, $alpha: 0.3);
    border-right: 1px solid rgba($color: #ffffff, $alpha: 0.3);
    img {
        width: 34px;
        height: 32px;
        align-self: center;
        margin: auto;
        padding: .2em;
    }
    p {
        padding-top: 1em;
    }
}
.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4em 12em;
    background-color: $beige;
    p {
        font-size: 0.82em;
        line-height: 1.25em;
    }
    h1, h3, p{
        color: $darkgray1;
        padding: .5em 0;
    }
    img {
        padding-bottom: 1em;
    }
    .grid {
        display: grid;
        text-align: center;
        grid-gap: 1.5em; 
        grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
        margin: 2em 0;
        .grid-item {
            background-color: $white;
            padding: 2em 1em 3em 1em;
            box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
            &:hover {
                transform: translate(1%, -1%);
                transition: all 0.2s ease-in;
                cursor: pointer;
            } 
        }
        div.about {
            height: 100vh;
        }
    }
}
.contact {
    background-color: $lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em 15em;
    .head {
        align-self: center;
        text-align: center;
    }
    h1 {
        text-align: center;
        padding: .5em;
    }
    .form {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 2em;
        margin: 4em 0;
    }
    .call, .email {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
            color: $yellow;
            font-size: 1.35em;
            font-weight: 700;
            padding-bottom: 2.5em;
            img {
                padding-right: .5em;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    .email {
        margin-left: 6em;
        label {
            padding-top: .5em;
            margin-left: 1em;
        }
        input {
            border: none;
            background-color: transparent;
            color: $yellow;
                &:focus {
                    background-color: $beige;
                    border: none;
            }
        }
        .input {
            margin-bottom: 1em;
            padding: .5em;
            border: none;
            border-bottom: 2px solid $white;
            background-color: $lightgreen;
            width: 25em;

        }
        .msg {
            width: 35em;
        }
        input.button, #button {
            background-color: transparent;
            width: 60%;
            text-align: center;
            display: inline-block;
            margin-top: 4em;
            padding: 1em;
            border: 4px solid $yellow;
            border-radius: .7em;
            color: $yellow;
            font-size: 0.76em;
            font-weight: 600;
            img {
                padding-left: .5em;
            }
            cursor: pointer;
                &:hover {
                background-color: $yellow;
                input, img {
                    color: $darkgray1;
                    cursor: pointer;
                }
        }
        }
    }
}
.about {
    height: 60vh;
    padding: 0 10em;
    padding-bottom: 4em;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(196, 197, 199, 0.027), rgba(142, 143, 145, 0.001)), url(/img/about-us-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .about-img {
        flex-basis: 40%;
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        img {
            padding-bottom: 1.5em;
            height: 80px;
            width: 90px;
        }
        h1 {
            font-size: 2.64em;
            font-weight: 400;
        }
    }
    .about-text {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .about-btn {
            display: flex;
            justify-content: space-between;
            padding-top: 4em;
            p {
                padding-bottom: 2em;
            }
            button {
                background-color: transparent;
                cursor: pointer;
                text-align: center;
                display: inline-block;
                margin-top: 4em;
                padding: 1em 2em;
                border: 4px solid $yellow;
                border-radius: .7em;
                color: $yellow;
                font-size: 0.76em;
                font-weight: 600;
                i {
                    padding-left: 1em;
                }
                &:hover {
                    background-color: $yellow;
                    color: $darkgray1;
                }
            }
        }
    }
}
.footer {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $darkgray1;
    font-size: 0.76em;
    font-weight: 600;
    a, p {
        padding: 0 1em;
    }
    a {
        &:hover {
            cursor: pointer;
        }
    }
    div.left a#green {
        color: $cyan;
    }
    .left, .right {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .break-1 {
        opacity: 0.4;
    }

}